/* ====================
   global styles
   ==================== */

   :root {
    --clr-primary-500: #9E9E9E;
    --clr-primary-600: #4F4F4F;
    --clr-primary-700: #000;
  
    --clr-contrast-400: #DC1F18;
  
    --ff-primary: 'Lato', sans-serif;
    --ff-accent: 'Playfair Display', serif;
  
    --fs-300: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --fs-400: clamp(1.2rem, 1.0959rem + 0.5207vw, 1.4994rem);
    --fs-500: clamp(1.44rem, 1.2457rem + 0.9717vw, 1.9988rem);
    --fs-600: clamp(1.7281rem, 1.4025rem + 1.6283vw, 2.6644rem);
    --fs-700: clamp(2.0738rem, 1.5596rem + 2.5707vw, 3.5519rem);
    --fs-800: clamp(2.4881rem, 1.7066rem + 3.9076vw, 4.735rem);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: var(--fs-300);
    line-height: 1.6;
    overflow-x: hidden;
    background-color: var(--clr-neutral-200);
  }
  
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  /* ====================
       typography
       ==================== */
  
  h1 {
    font-family: var(--ff-accent);
  }

  h1, 
  h2,
  h3 {
    line-height: 1;
  }
  
  h2,
  h3,
  p {
    margin-bottom: 1em;
  }
  
  h1 {
    margin-top: 2.5rem;
    font-size: var(--fs-800);
    font-weight: 500;
  }
  
  h2 {
    font-size: var(--fs-600);
    text-transform: uppercase;
    font-weight: 500;
  }
  
  h3 {
    font-size: var(--fs-400);
    font-weight: 500;
  }
  
  .subhead {
    font-size: var(--fs-400);
    font-weight: 300;
  }
  
  .text-center {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    font-size: var(--fs-300);
  }
  
  
  /* ====================
         components
         ==================== */

     button {
          border: none;
          outline: none;
          padding: 0.6em 1em;
          border-radius: 5px;
          background-color: var(--clr-contrast-400);
          color: white;
          cursor: pointer;
      }
  
  
    /* add button styles
  
  
  /* ====================
     Layout
     ==================== */
  
    section {
      padding: 4rem 0;
    }

    @media (min-width: 40em) {
      section {
        padding: 7rem 0;
      }
    }

  .container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
  }
  
  .bg-gradient {
    /* add gradient */
    background-color: gradient();
  }
  
  .bg-grey {
    background: linear-gradient(var(--clr-primary-500), var(--clr-primary-600));
  }
  
  
  /* ====================
     Img
     ==================== */
  
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* ====================
     Footer
     ==================== */

     .newsletter-section {
      text-align: center;
      color: #fff;
      background-color: var(--clr-primary-600);
      padding: 5rem 0;
     }

     .newsletter-section form {
      display: flex;
      gap: 1em;
      justify-content: center;
      margin-top: 2em;
     }

     .newsletter-section form input[type="text"]{
        padding: 0.8em 12em;
        border-radius: 5px;
        border: 0;
        outline: 0;
     }

     .newsletter-section form input[type="submit"] {
      border: none;
      outline: none;
      text-transform: uppercase;
      padding: 0.8em 2em;
      border-radius: 5px;
      background-color: var(--clr-contrast-400);
      color: white;
      cursor: pointer;
     }

     .footer-info-section {
      background-color: var(--clr-primary-700);
      color: #fff;
      padding: 4rem 0;
     }

    
     .footer-info-section .logo {
      text-align: center;
      font-size: 2rem;
      margin: 0 auto;
     }
  
     .footer-content-container {
      display: flex;
      justify-content: space-between;
      margin-top: 3em;
     }

     .footer-content-container ul {
      list-style-type: none;
      display: flex;
      gap: 1em;
      margin: 0 0 1em 0;
     }
     .footer-content-container a {
      color: #fff;
     }

     .social-media {
      display: flex;
      justify-content: space-around;
     }

     .larger-icon {
      font-size: 30px;
     }

     .copyright {
      color: var(--clr-primary-600);
     }


  /* ====================
     Header
     ==================== */

     header {
      background-color: var(--clr-primary-700);
      color: #fff;
     }

     header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
     }
     
     header ul {
      display: flex;
      gap: 1em;
     }

     header li {
      list-style-type: none;
     }

     header a {
      color: #fff;
     }

     .hero-heading {
      margin-top: 0;
      margin-bottom: 1rem;
     }

     .logo {
      width: 150px;
     }
    

  /* ====================
     Hero section
     ==================== */
     .hero-section {
      background-image: url(/images/hero-bg.jpg);
      color: #fff;
      text-align: center;
     }

     /* ====================
     Blog grid section
     ==================== */

     .blog-post-grid {
      display: grid;
      gap: .125rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .blog-grid-card {
      padding: 1em;
    }
    .blog-grid-card img {
      margin-bottom: 1em;
    }
     

